.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  height: 2rem;
  width: 10rem;
  font-size: medium;
}

.boton1 {
  font-size: large;
  height: 2rem;
  width: 6rem;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;  
}

.boton1:hover {
  background-color: #61dafb;
}

.boton2 {
  font-size: large;
  height: 2rem;
  width: 10rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.boton2:hover {
  background-color: #61dafb;
}
